/* https://css-tricks.com/snippets/css/using-font-face/#article-header-id-0 */
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../fonts/Proxima/ProximaNovaRegular/ProximaNova-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima/ProximaNovaRegular/ProximaNova-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Proxima/ProximaNovaRegular/ProximaNova-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaSemiBold';
  src: url('../fonts/Proxima/ProximaNovaSemiBold/ProximaNova-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima/ProximaNovaSemiBold/ProximaNova-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Proxima/ProximaNovaSemiBold/ProximaNova-Semibold.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: 600;
       font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExtraBold';
  src: url('../fonts/Proxima/ProximaNovaExtraBold/ProximaNova-Extrabld.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima/ProximaNovaExtraBold/ProximaNova-Extrabld.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fontsProxima/ProximaNovaExtraBold/ProximaNova-Extrabld.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: 800;
       font-style: normal;
}

