html, body {
  width: calc(100% + calc(100vw - 100%));
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  font: inherit;
  transition: all 0.3s ease;
}

img {
  max-width: 100%; 
  height: auto;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: 'ProximaNovaSemiBold', sans-serif;
  /* width: 100vw; */
  /* max-width: 100%; */
  max-width: 1400px;
}

.main-header {
  background-color: #000000;
  color: #ffffff;
  font-size: 13px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0 95px 0 85px;
}

.top-nav {
  margin-left: 40px;
  .top-nav__link {
    margin-right: 25px;
    
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: #ff802a;
    }
    color: #ffffff;
    font-family: 'ProximaNovaSemiBold', sans-serif;
    padding: 47px 0;
  }
}

.cart {
  margin-left: auto;
  display: flex;
  align-items: center;
  .svg-wrap {
    fill: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(0.85);
    }
  }
  .price-wrap {
    margin-left: 10px;
    cursor: default;
    &:hover {
      transform: none;
    }
  }
  .cart-wrap {
    margin-left: 30px;
  }
}

.slider-btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-family: 'ProximaNovaExtraBold', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #000000;
  line-height: 50px;
  text-align: center;
  padding: 0 32px;
  &:hover {
    color: #ff802a;
    border-radius: 8px;
  }
  &:active {
    transform: scale(0.85);
  }
}
/*slider*/
.slider1 {
  cursor: pointer;
  width: 200vw;
  min-height: 650px;
  font-size: 0;
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 0;
  transition: left 1s;
  .slider__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + calc(100vw - 100%));
    height: auto;
  }
  .slider__item--content {
    display: block;
    text-align: right;
  }
  .slider__title {
    text-transform: uppercase;
    font-size: 80px;
    color: #000000;
    font-family: 'ProximaNovaExtraBold', sans-serif;
    text-align: left;
    margin-bottom: 50px;
  }
 
}

.slider__item--1 {
  background: url(../../assets/images/slides/slide1.jpg) no-repeat center;
  background-size: cover;
}

.slider__item--2 {
  background: url(../../assets/images/slides/slide2.jpg) no-repeat center;
  background-size: cover;
  .slider__title {
    color: #ffffff;
  }
}

.slider-box {
  width: calc(100% + calc(100vw - 100%));
  height: 650px;
  overflow: hidden;
}

/* main content */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0 215px 0;
  text-transform: uppercase;
  .product__title {
    font-size: 48px;
    font-family: 'ProximaNovaExtraBold';
    margin-bottom: 35px;
  }
  .product__subtitle {
    font-size: 14px;
    font-family: 'ProximaNovaRegular';
    margin-bottom: 30px;
  }
  .product__control {
    margin-bottom: 120px;
  }
  .caption {
    margin-top: 60px;
    font-size: 24px;
  }
  .slider-snowboards {
    display: flex;
    justify-content: space-between;
    width: 115vw;
    height: 405px;
    .owl-item img {
      width: auto;
    }
  }
  .slider-snowboards__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 405px;
    cursor: pointer;
  }
  .owl-item.active {
    opacity: 0.5;
  }
  .owl-item.active.center {
    opacity: 1;
  }  
}

/* .slider-box2 {
  position: relative;
}

.buttons {
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

button.controls {
  font-size: 80px;
  color: gold;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.controls-pause {
  margin: 0 35vw;
} */

.slider-snowboards.owl-carousel .owl-nav.disabled {
  display: block;
}

.slider-snowboards.owl-carousel .owl-nav .owl-next, .slider-snowboards.owl-carousel .owl-nav .owl-prev {
   width: 122px;
   height: 227px;
   display: block;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   position: absolute;
   top: 20%;
   outline: none;
}

.slider-snowboards.owl-carousel .owl-nav .owl-next {
  background-repeat: no-repeat;
  background-image: url(../../assets/images/svg/next.svg);
  right: 230px;
   
}

.slider-snowboards.owl-carousel .owl-nav .owl-prev {
  background-repeat: no-repeat;
  background-image: url(../../assets/images/svg/prev.svg);
  left: 230px;
}
/*mountain*/
.mountain {
  background: url(../../assets/images/bg-image.jpg) no-repeat center;
  background-size: cover;
  padding: 240px 0 200px 15.71vw;
  color: #ffffff;
  .mountain-title {
    text-transform: uppercase;
    font-size: 48px;
    font-family: 'ProximaNovaExtraBold';
    max-width: 480px;
    margin-bottom: 75px;
  }
  .mountain-text {
    max-width: 615px;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.features {
  padding-top: 120px;
  padding-bottom: 130px;
  padding-left: 15.71vw;
  padding-right: 15.71vw;
  .features-control {
    margin-bottom: 85px;
  }
  .post {
    display: flex;
    justify-content: space-between;
    .post__item {
      width: 15.71vw;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
      .post__item--text {
        font-size: 16px;
        line-height: 30px;
        text-transform: none;
      }
    }
  }
}

.main-footer {
  color: #ffffff;
  background-color: #000000;
  padding: 70px 14.714vw 55px 15.71vw;
  .main-footer__content {
    display: flex;
    justify-content: space-between;
  }
  h3 {
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'ProximaNovaExtraBold';
    line-height: 30px;
  }
  a {
    color: #c9c9c9;
    font-size: 14px;
    line-height: 40px;
    font-family: 'ProximaNovaRegular'; 
  }
  .send {
    margin-top: 19px;
    margin-bottom: 60px;
    display: flex;
    .e-mail {
      font-size: 14px;
      color: #6c6c6c;
      font-family: 'ProximaNovaRegular';
      line-height: 42px;
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      padding-left: 10px;
      background-color: #ffffff;
      border: none;
    }
    .btn-submit {
      display: inline-block;
      vertical-align: middle;
      border: none;
      background-color: #c7c7c7;
      font-size: 15px;
      line-height: 42px;
      font-family: 'ProximaNovaExtraBold';
      color: #010101;
      padding: 0;
      padding-left: 17px;
      padding-right: 17px;
    }
  }
}

.top__content {
  margin-bottom: 48px;
}

.bottom-content {
  align-items: baseline;
}

.select-reg {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  img , svg {
    width: 16px;
    height: 12px;
    outline: 1px solid #fff;
    margin-right: 10px;
  }
  .flags {
    width: 80%;
    padding: 0;
    margin: 0;
    border: none;
    height: 15px;
    outline: none;
    background-color: transparent;
    position: absolute;
    right: -20px;
    cursor: pointer;
    color: transparent;
  }
  .flag {
    
    width: 14px;
    height: 10px;
    font-size: 14px;
    display: block;
    margin-top: 5px;
  }
  label {
    display: block;
    width: 100%;
    height: 15px;
    margin-left: 10px;
  }
  &:hover {
    color: #ff802a;
    transform: scale(1.05);
    cursor: pointer;
  }
}

.test-svg {
  background-color: Navy;
}




 











