

.slide-container {
  width: 2800px;
  min-height: 650px;
  
  font-size: 0;/* ЭТО ОБЯЗАТЕЛЬНО!!! располагает в 1 ряд*/
  position: relative;
  left: 0;
  transition: left 1s;

}

.slider__item {
  width: 1400px;
  height: auto;
}

.slider-box {
  width: 1400px;
  height: 650px;
  overflow: hidden;
}

<div id="slider">
    <div id="container">
      <img src="images/1.jpg" class="my-image">
      <img src="images/2.jpg" class="my-image">
      <img src="images/3.jpg" class="my-image">
      <img src="images/4.jpg" class="my-image">
      <img src="images/5.jpg" class="my-image">
      <img src="images/6.jpg" class="my-image">
    </div>
</div>


window.addEventListener("DOMContentLoaded", init);

let container;
let images;
let imagesCount;
let position = 0;

function slide() {
  console.log(position, imagesCount);  
  if (position < imagesCount - 1) {
      
      let curPos = container.style.left;
      container.style.left = (parseInt(curPos) - 1400) + "px"; 
    } else {
      let curPos = container.style.left;
      container.style.left = 0 + "px";
      position = -1;
    }
    position ++;
    setTimeout(slide, 1500);
}

function init() {
  container = document.querySelector("slide-container");
  container.style.left = "0";

  images = document.querySelectorAll("slider__item");
  imagesCount = images.length;
  setTimeout(slide, 2000);
}